---
layout: default
title: Teaching
permalink: /teaching/index.html
---


<article class="page">

  <header class="page-header container">
  <div class="row">
    <div class="column column-66">
      <h1 class="page-title">{{ page.title | escape }}</h1>
    </div>
  </div>
  </header>


  <div class="page-content container">
    <div class="row">
      <div class="column column-66">

        
      <h2>Current <em>Courses</em></h2>
        {% include card.html
          title="Practical Course: Deep Learning for Spatial AI"
          external_url="https://cvg.cit.tum.de/teaching/ss2025/dl4sai"
          description="Summer 2025"
          type="wide"
        %}

      <h2>Past <em>Courses</em></h2>
        {% include card.html
          title="Seminar: Foundation Models for Computer Vision"
          external_url="https://cvg.cit.tum.de/teaching/ws2024/fmcv"
          description="Winter 2024/25"
          type="wide"
        %}
        {% include card.html
          title="Practical Course: Geometric Scene Understanding"
          external_url="https://cvg.cit.tum.de/teaching/ss2024/gsu"
          description="Summer 2024"
          type="wide"
        %}
        {% include card.html
          title="Seminar: Foundational Models for 2D and 3D Computer Vision"
          external_url="https://cvg.cit.tum.de/teaching/ws2023/fmcv"
          description="Winter 2023/24"
          type="wide"
        %}
        {% include card.html
          title="Practical Course: Geometric Scene Understanding"
          external_url="https://cvg.cit.tum.de/teaching/ss2023/gsu"
          description="Summer 2023"
          type="wide"
        %}

      </div>
    </div>
  </div>

</article>
