---
layout: default
---


<article class="landing">


  <header class="landing-header ">
    <!---<div class="landing-banner" style="background:url('{{ site.baseurl }}/assets/images/group-2018-12-final.jpg') 0 200px no-repeat"></div>-->
    <div class="landing-header-content container">
      <div class="row">
        <div class="column column-60 ">
          <h2>Research <em>Overview</em></h2>
          <!-- <h1 class="landing-title">{{ site.title | escape }}</h1> -->
    			<img src="assets/icons/udance_logo.png">
          <div class="landing-about">
            <p>At UDance, we are developing a foundation model for egocentric vision by combining high-level semantic understanding with low-level geometric representations. By reconstructing 3D hand and body motions and integrating them into representation learning, we aim to advance the modeling of human activities and their environments. Our goal is to pioneer techniques that enhance human action understanding and enable accurate prediction of future actions, paving the way for true human-AI collaboration.
            </p>
            <!-- <p>
             PLACEHOLDEDR TEXT 2
            </p>  -->
          </div>

        </div>
      </div>
    </div>
  </header>
</article>

