---
layout: default
---


<article class="landing">


  <header class="landing-header ">
    <!---<div class="landing-banner" style="background:url('{{ site.baseurl }}/assets/images/group-2018-12-final.jpg') 0 200px no-repeat"></div>-->
    <div class="landing-header-content container">
      <div class="row">
        <div class="column column-60 ">
          <h2>Research <em>Overview</em></h2>
          <!-- <h1 class="landing-title">{{ site.title | escape }}</h1> -->
    			<img src="assets/icons/udance_logo.png">
          <div class="landing-about">
            <p>In UDance, we are developing a foundation model for egocentric vision by combining high-level semantic understanding with low-level geometric representations. By reconstructing 3D hand and body motions and integrating them into representation learning, we aim to advance the modeling of human activities and their environments. Our goal is to pioneer techniques that enhance human action understanding and enable accurate prediction of future actions, paving the way for true human-AI collaboration.
            </p>
            <!-- <p>
             PLACEHOLDEDR TEXT 2
            </p>  -->
          </div>

        </div>
        <!-- <div class="column column-33 column-offset-8">
          <h2>Latest <em>News</em></h2>
          <ul class="news">
          {% assign newsposts = site.news | reverse %}
          {% if newsposts.size > 0 %}
            {%- for newspost in newsposts limit: 5 -%}
            <li>
              {% if newspost.image %}
                <div class="newspost-image">
                  {% if newspost.link %}  
                    <a href="{{ newspost.link }}" target="_blank">
                    {% endif %}
                      <img src="{{ newspost.image | prepend: '/assets/' | relative_url}}"/>
                    {% if newspost.link %}  
                    </a>
                  {% endif %}
                </div>
              {% endif %}
              <div class="newspost-content">
                <div class="newspost-meta">{{ newspost.date | date: "%d.%m.%y" }}</div>
                {{ newspost.content}}
              </div>
            </li>
            {%- endfor -%}
          {% else %}
            <li>
              <div class="newspost-content">
                <div class="newspost-meta">{% assign today = site.time | date: "%d.%m.%y" %}{{ today }}</div>
                <p>Website Created</p>
              </div>
            </li>
          {% endif %} -->
          </ul>
          <!-- <div style="text-align: center; margin-top: -15px">
            <a class="button" href="{{"/news" | relative_url }}">See all News</a>
          </div> -->


          <!-- <div class="social-section">
            <h2>Connect</h2>
            <div class="social-links">
              <a href="https://www.youtube.com/@aiteth8255" target="_blank" title="YouTube">
                  <img src="{{ '/assets/icons/youtube.svg' | relative_url }}">
              </a>
              <a href="https://github.com/eth-ait" target="_blank" title="GitHub">
                  <img src="{{ '/assets/icons/github.svg' | relative_url }}">
              </a>
              <a href="https://twitter.com/ait_eth" target="_blank" title="Twitter">
                  <img src="{{ '/assets/icons/twitter.svg' | relative_url }}">
              </a>
              <a href="https://eth-ait.medium.com/" target="_blank" title="Medium">
                  <img src="{{ '/assets/icons/medium.svg' | relative_url }}">
              </a> -->
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </header>

  
  <!-- <div class="landing-content container">
   <div class="row">
      <div class="column">
        <h2>Latest <em>Projects</em></h2>
        {% include get-publications.html limit=30 with-sections=true%}

      </div>
    </div>
  </div> -->
</article>

